{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MGN | My To Do List</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Meterial Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  </head>
  <body>
    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="navbar-collapse justify-content-md-center">
        <ul class="navbar-nav">
          <li>
            <a class="navbar-brand" href="{% url 'core:index' %}">
              My To Do List
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end header -->
    <main class="container">
      <div class="p-3 my-3 text-white-50 bg-light rounded box-shadow border border-primary">
        <form method="post">
          {% csrf_token %}

          <div class="form-row align-items-center">
            <div class="col-sm-8 offset-sm-1">
              {{ form.text }}
            </div>

            <div class="col-sm-2">
              <button type="submit" class="btn btn-outline-primary btn-block">
                  Add
              </button>
            </div>
          </div>
        </form>
      </div>


      <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="{% url 'core:index_filter' filter='current'%}"
              class="btn btn-outline-info {% if active_button == 'current'  %} active {% endif %}"
              role="button" aria-disabled="true">
              Current <span class="badge badge-light">{{ current_count }}</span>
          </a>
          <a href="{% url 'core:index_filter' filter='completed'%}"
            class="btn btn-outline-info {% if active_button == 'completed'  %} active {% endif %}"
            role="button" aria-disabled="true">
            Completed <span class="badge badge-light">{{ completed_count}}</span>
          </a>
          <a href="{% url 'core:index_filter' filter='all'%}"
              class="btn btn-outline-info {% if active_button == 'all'  %} active {% endif %}"
              role="button" aria-disabled="true">
              All <span class="badge badge-light">{{ all_count }}</span>
          </a>
        </div>
      {% block content %}
      {% endblock %}
    </main>

    <!-- Modal Delete Task -->
    <div class="modal fade" id="modalDeleteTask" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTaskLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="modalDeleteTaskLabel">Delete Task</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body">
                 Are you sure you want to <b>delete</b> this task?
               </div>
               <div class="modal-footer">
                 <a href="" class="btn btn-sm btn-danger" role="button">Delete</a>
                 <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
               </div>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $('#modalDeleteTask').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
          var task = button.data('task')

          console.log(task)

          var modal = $(this)
          modal.find('a').attr("href", task)

      })
    </script>
  </body>
</html>
