/*BASE*/
body {
  background-color: #333;
}


/*Header*/
.navbar-brand {
  font-size: 2em;
  font-family: 'Indie Flower', cursive;
}

/*Task*/
.task-description {
  font-size: 1.2em;
  font-family: 'Indie Flower', cursive;
}

/*Not found message*/
.not-found {
  font-size: 2em;
}

.not-found i {
  font-size: 3em;
}
