{% extends "base.html" %}

{% block content %}

<div class="my-3 p-3 bg-white rounded box-shadow">
  {% for task in task_list %}
  <div class="media pt-3 border-bottom border-gray row">
    <div class="col-xs-12 col-sm-10">
      <div class="media-body pb-3 mb-0">
        <strong class="d-block">
          {% if task.completed %}
            <span class="badge badge-success">Done</span>
          {% else %}
            <span class="badge badge-info">Open</span>
          {% endif %}
          <a class="badge badge-warning text-white" href="#" data-toggle="modal" data-target="#modalEditTask">
            Edit
            <i class="material-icons" style="font-size: 0.9em">mode_edit</i>
          </a>
        </strong>
        <p class="task-description">
          {{ task }}
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2" style="margin-bottom: 10px">
      <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#modalCompleteTask">
          <i class="material-icons">done</i>
      </button>
      <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDeleteTask">
          <i class="material-icons">delete_forever</i>
      </button>
    </div>
  </div>
  {% empty %}
    <div class="not-found text-center">
      <i class="material-icons text-danger" >report</i>
      <h3 class="task-description"> No tasks found!</h3>
    </div>
  {% endfor %}
</div>

{% endblock %}
